<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/users.css">
    <!--fonts-->
    <!--Montserrat font for headings-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <% @title = "Home" %>
</head>
<body>

<div class="container">
  <div class="row home_main_title">
    <div class="col-12">
      <h1>
        <i class="fas fa-home"></i> Home
      </h1>
    </div>
  </div>

  <div class="row home_row_1">
    <div class="col-5 home_row_1_col_1">
      <h3>
        <i class="fas fa-chart-pie"></i> Latest orders
      </h3>
    </div>

    <div class="col-2"></div>

    <div class="col-5 home_row_1_col_3">
      <h3>
        <i class="fas fa-circle-notch"></i> Friends activity
      </h3>
    </div>
  </div>



  <div class="row home_row_2">

    <div class="col-5 home_row_2_col_1">
    <% if @orders != nil %>
      <% @orders.each do |order| %>
        <%= link_to "#{order.meal} from #{order.from} on #{order.created_at.to_date} ", show_order_url(order.id)%> </br>
        <%end%>

    <%end%> 
        
    </div>

    <div class="col-2"></div>
    <div class="col-5 home_row_2_col_3">
    <% if @friendOrders != nil %>
      <% @friendOrders.each do |friend_order| %>
        <a href="#"><%= User.find(friend_order['user_id']).name %></a> has created 
         <%= link_to "an order", show_order_url(friend_order.id)%> for <%= friend_order.meal%> from 
        <a href="#"><%= friend_order.from%></a>
        </br>
      <% end %>
    <% end %>
    </div>

  </div>


</div>

    
</body>
</html>