<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/users.css">
    <%= @title = "Add Order" %>
</head>

<body>
    <h1 id="add_orders_header">
        <i class="fas fa-concierge-bell"></i> Add order
    </h1>



    <div class="row">

        <div class="col-5 add_orders_left_box">

            <div>
                <h3>
                    <i class="far fa-list-alt"></i> Order details
                </h3>
            </div>
            <%= form_with model: @order,:url => :add_order_path,:id=>"form" do |f| %>
            <div class="row add_order_left_box_container">
                <div class="col-5 add_order_left_box_row">
                    <i class="fas fa-bread-slice"></i> Order for:
                </div>
                <div class="col-1"></div>

                <div class="col-6 add_order_left_box_row">
                    <%= f.select(:meal  ,['breakfast','lunch','dinner'],{},
                  {:class=>"form-control"}) %>
                </div>



                <div class="col-5 add_order_left_box_row">
                    <i class="fas fa-asterisk"></i> From:
                </div>

                <div class="col-1"></div>

                <div class="col-6 add_order_left_box_row">
                    <%= f.text_field :from,class:"form-control",placeholder:"Restaurant name" %>
                </div>

                <div class="col-5 add_order_left_box_row">
                    <i class="fas fa-hashtag"></i> With:
                </div>

                <div class="col-1"></div>
                    <div class="col-6 input-group add_order_left_box_row">
                        <input type="text" id="friend-mail" class="form-control" placeholder="Friend or group name">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary add_group_button" onclick="addUser(event)" >
                                <i class="fas fa-plus-circle add_group_icon"></i>
                            </button>
                        </div>
                    </div>


                <div class="col-4 add_order_left_box_row">
                    <i class="fas fa-camera-retro"></i> Menu Image:
                </div>

                <div class="col-1"></div>

                <div class="col-6 add_order_left_box_row order_details_choose_file_browser">
                    <%= f.file_field :img_url ,class:"custom-file-input",multiple: true%>
                    <label class="custom-file-label" for="customFile"></label>
                </div>

                <div class="col-4"></div>

                <div class="col-4">
                    <button class="btn btn-primary publish_button_add_order" type="submit">
                        <i class="fas fa-fire"></i> Publish
                    </button>
                </div>

                <div class="col-4">
                </div>
            </div>
            <% end %>

        </div>


        <div class="col-2"></div>



        <div class="col-5 add_orders_right_box">

            <div>
                <h3>
                    <i class="fas fa-user-check"></i> Friends invited
                </h3>
            </div>

            <div id="friendsList" class="row add_orders_right_box_container">
                


            </div>


        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"> </script>
    <script>
        const friendMail = document.getElementById("friend-mail")
        console.log(friendMail)
        const finalFriendsList=[] 
        function addUser(e) {
            console.log("dddd")
            e.preventDefault()          
            console.log(friendMail)
            $.ajax({
                url: `/is-friend`,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                },
                type: 'POST',
                data: {
                    email: friendMail.value
                },
                success: function showData (result) {
                  const list=document.getElementById('friendsList')
            
                  result.forEach(element => {
                  if (!finalFriendsList.find((ele)=> ele.email == element.email))
                  {
                    finalFriendsList.push(element)
                    list.innerHTML+=`
                    <div class="col-2">
                    <img src="/images/teenage.svg" width="100px" height="100px" alt="" srcset="">
                    </div>

                    <div class="col-2 add_order_name_row">
                        ${element.name} 
                    <button onclick="removeFriend(${element.id})" type="button" class="btn btn-primary btn-sm delete_friend_button" data-toggle="tooltip"
                        data-placement="right" title="Remove friend">
                        <i class="fas fa-user-times"></i>
                    </button>
                    </div>
                    
                    <div class="col-2"></div> `}
                });


                }
            });
        }

        function removeFriend(m)
        {   let c = 0
            finalFriendsList.forEach( (s)=>{
                if(s.id == m)
                    finalFriendsList.splice(c, 1);
                else c++;
            console.log(JSON.stringify(finalFriendsList))
            })
            
        }
        
      
        $("form#form").submit(function (e){
            console.log(e)
            e.preventDefault()
            var formData=new FormData(this)
            console.log(finalFriendsList)
            formData.append("users",JSON.stringify(finalFriendsList))

            $.ajax({
                url: `/orders/new`,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                },
                type: 'POST',
                data: formData ,
                success: function (result) {
                    console.log(formData)
                },
                cache: false,
                contentType: false,
                processData: false
            });
            return false
        })
    </script>

</body>

</html>