<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/users.css">

    <% @title = "Orders" %>
</head>
<body>

    <h3 id="order_page_header">
        <i class="fas fa-box-open"></i> Orders
    </h3>

    <div class="row">
        <div class="col-5"></div>

        <div class="col-2">
            <%= button_to  '/orders/new',{:method => "get",class: "btn btn-primary order_place_new_order_button"} do %>
                <i class="fas fa-plus-circle place_order_icon"></i> Place a new order
            <%end%>

        </div>

        <div class="col-5"></div>
    </div>

    

    <div class="row">
        <div class="col-1"></div>

        <div class="col-10">
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Order</th>
                    <th scope="col">Restaurant</th>
                    <th scope="col">Invited</th>
                    <th scope="col">Joined</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                <% if @orders != nil%>
                <% @orders.each do |order| %>
                  <tr>
                    <th scope="row"><%=order.meal%></th>
                    <td><%=order.from%></td>
                    <td><%= order.users.length %></td>
                    <td><%= OrderUser.where(:status => 1 ,:order_id=>order['id']).count() %></td>
                    <td><%=order.status%></td>
                    
                    <% if order.status == "waiting" %>
                       <td>
                        <%= link_to "View", show_order_url(order.id)%>
                         <%= link_to "Finish",change_status_order_url(:order_id =>order.id),:method => 'put'%> 
                        <%= link_to "Cancel",delete_order_url(:order_id =>order.id),:method => 'delete'%>
                      </td>
                    <% else %>
                    <td>
                    <%= link_to "View", show_order_url(order.id)%> </td>
                    <% end %>
                  </tr>
                  <% end %>
                  <% end %>
                </tbody>
              </table>
              

        </div>

        <div class="col-1"></div>
    </div>

    <div class="row">
        <div class="col-4"></div>

        <div class="col-4">
            <nav>
                <ul class="pagination d-flex justify-content-center">
                  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
              </nav>
            
        </div>

        <div class="col-4"></div>
    </div>
    
</body>
</html>